
.advantages {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;

}

.advantages__wrapper-text {
    display: flex;
    flex-direction: row-reverse;
}

.advantages__title {
    align-self: flex-end;
    font-size: 36px;
    line-height: 48px;
    color: $red;
} 


.advantages__list {
    align-self: center;
    margin: 0px 50px 0 0;
    max-width: 300px;
}

