.footer {
    padding-top: 80px;
    padding-bottom: 20px;
    background-color: $cherry;
}

.footer__test-drive {
    margin: 0 auto;
    margin-bottom: 83px;
}

// .footer__list {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: center;

// }

// .footer__link{
//     position: relative;
//     padding: 0 13px;  
// }
 

// .footer__item  .footer__link + .footer__link::before{
//     content: " "; 
//     position: absolute;
//     right: 0;
//     top: 2px;
//     display: block;
//     width: 2px;
//     height: 23px;
//     background-color: #fff;
// }


.footer__list {
    text-align: center;
    font-weight: 700;
}

.footer__item {
    position: relative;
    display: inline-block;
    padding: 0 10px;
}
 
.footer__list .footer__item  + .footer__item::before {
    content: "|";
    position: absolute;
    left: -5px;
    top: -2px;
}

