.test-drive {
    display: inline-block;
    font-family: 'Roboto-CondensedBld', sans-serif;
    font-weight: bold;
    padding: 30px 60px;
    background-color: rgba(255, 255, 255, 0.15);
    border: 1px solid #FFFFFF;
    transition: all .5s;
}

.test-drive:hover {
    background-color: #690102;
}