.test-drive {
    display: block;
    max-width: 292px;
    padding: 30px 0;
    font-family: 'Roboto-CondensedBld', sans-serif;
    font-weight: bold;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.15);
    border: 1px solid #FFFFFF;
    transition: all .5s;
}

.test-drive:hover {
    background-color: #690102;
}